name: build

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '30 17 * * 5'  # Every Friday at 17:30 UTC

env:
  CARGO_TERM_COLOR: always
  NPM_CONFIG_COLOR: always
  FORCE_COLOR: 3
  RUSTFLAGS: -D warnings

jobs:

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly
        features:
          - no default features
          - all features
          - default features

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install ${{ matrix.rust }} Rust
        run: rustup default ${{ matrix.rust }}

      - uses: Swatinem/rust-cache@v1

      - name: Test with ${{ matrix.features }}
        run: |
          FLAG="${{ matrix.features }}"
          if [[ "$FLAG" = "default features" ]]; then
            FLAG=''  # Needs no flag
          else
            FLAG="--${FLAG// /-}"  # Turn 'foo bar' into '--foo-bar'
          fi
          cargo test $FLAG

  windows:
    name: Windows (stable, default features)
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1

      - name: Test with default features
        run: cargo test

  # This builds examples and benchmarks, which are not covered above.
  build-all:
    name: Build all targets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1

      - name: Build all targets with default features
        run: cargo build --all-targets

      - name: Build all targets without default features
        run: cargo build --all-targets --no-default-features

      - name: Build all targets with all features
        run: cargo build --all-targets --all-features

  build-documentation:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1

      - name: Build documentation and check intra-doc links
        env:
          RUSTDOCFLAGS: --deny broken_intra_doc_links
        run: cargo doc --all-features --no-deps

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1

      - name: Clippy with default lints
        run: cargo clippy

      - name: Lint for left-over debug prints
        run: cargo clippy -- -D clippy::print_stdout -D clippy::print_stderr

  fuzz:
    name: Fuzz test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install nightly Rust
        run: rustup default nightly

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-fuzz
        run: cargo install cargo-fuzz

      - name: Cache fuzz corpus
        uses: actions/cache@v2
        with:
          path: fuzz/corpus
          key: fuzz-corpus-${{ github.run_id }}
          restore-keys: |
            fuzz-corpus-

      - name: Build fuzz targets
        run: cargo fuzz build fill_first_fit

      - name: Fuzz test
        run: cargo fuzz run fill_first_fit -- -max_total_time=30

      - name: Minimize fuzz corpus
        run: cargo fuzz cmin fill_first_fit

  binary-sizes:
    name: Compute binary sizes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1

      - name: Make binary size table
        run: cargo run --example make-table
        working-directory: examples/binary-sizes

  wasm-build:
    name: Build Wasm demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - uses: Swatinem/rust-cache@v1

      - name: Build textwrap-wasm-demo
        run: wasm-pack build
        working-directory: examples/wasm

      - name: Install textwrap-wasm-demo-app dependencies
        run: npm install
        working-directory: examples/wasm/www

      - name: Bundle textwrap-wasm-demo-app
        run: npm run build
        working-directory: examples/wasm/www

      - name: Upload bundled textwrap-wasm-demo-app
        uses: actions/upload-artifact@v2
        with:
          name: textwrap-wasm-demo-app
          path: examples/wasm/www/dist

  wasm-deploy:
    name: Deploy Wasm demo
    needs: wasm-build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          ref: gh-pages

      - name: Cleanup previous deployment
        run: rm *

      - name: Download bundled textwrap-wasm-demo-app
        uses: actions/download-artifact@v2
        with:
          name: textwrap-wasm-demo-app

      - name: Add and remove changed files
        id: git-add
        run: |
          git restore build-info.json
          git add --verbose --all
          if git diff --staged --quiet --exit-code; then
            echo "No changes found in textwrap-wasm-demo-app"
            echo '::set-output name=has-changes::false'
          else
            echo '::set-output name=has-changes::true'
          fi

      - name: Record build info
        if: steps.git-add.outputs.has-changes == 'true'
        run: |
          cat > build-info.json <<EOM
          {"date": "$(date --utc --iso-8601)", "commit": "$GITHUB_SHA"}
          EOM
          git add --verbose --all

      - name: Configure Git user
        if: steps.git-add.outputs.has-changes == 'true'
        run: |
          git config user.name "Martin Geisler"
          git config user.email "martin@geisler.net"

      - name: Commit textwrap-wasm-demo-app changes
        if: steps.git-add.outputs.has-changes == 'true'
        run: git commit -m "Update Wasm demo to ${GITHUB_SHA::7}"

      - name: Deploy textwrap-wasm-demo-app
        if: steps.git-add.outputs.has-changes == 'true'
        run: git push origin
