name: build

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '30 18 * * 5'  # Every Friday at 17:30 UTC

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:

  ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install ${{ matrix.rust }} Rust
        run: rustup default ${{ matrix.rust }}

      - name: Test with default features
        run: cargo test

      - name: Test without default features
        run: cargo test --no-default-features

      - name: Test with all features
        run: cargo test --all-features

  windows:
    name: Build on Windows (stable)
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Test with default features
        run: cargo test

  # This builds examples and benchmarks, which are not covered above.
  build-all:
    name: Build all targets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build all targets with default features
        run: cargo build --all-targets

      - name: Build all targets without default features
        run: cargo build --all-targets --no-default-features

      - name: Build all targets with all features
        run: cargo build --all-targets --all-features

  build-documentation:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build documentation and check intra-doc links
        env:
          RUSTDOCFLAGS: --deny broken_intra_doc_links
        run: cargo doc --all-features --no-deps

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Clippy with default lints
        run: cargo clippy

      - name: Lint for left-over debug prints
        run: cargo clippy -- -D clippy::print_stdout -D clippy::print_stderr
